.franja{
    background-color: #161616;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family:  Helvetica;  
    margin: 10px 20px;

}
.preguntas{
    background-color: #fff;
    color: #161616;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family:  Helvetica;  
    margin: 20px 100px;
}
.pregunta{
    background-color: #bdbdbd;
    color: #161616;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family:  Helvetica;  
    margin: 10px 50px;
}

.contacto {
    cursor: pointer;
    color: blue;
    display: inline-block;
    font-family: Helvetica;
    margin:0;
    padding: 0;
}

.contacto:hover {
    color: red;
    overflow: hidden;
}

body{
    background-color: #d7d7d7;
}